<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include("header.ejs") %>

  <h1>Sign Up</h1>
  <% if (messages && messages.error) { %>
    <div class="flash-error">
      <% if (Array.isArray(messages.error)) { %>
        <ul>
          <% messages.error.forEach(function(msg) { %>
            <li><%= msg %></li>
          <% }); %>
        </ul>
      <% } else { %>
        <%= messages.error %>
      <% } %>
    </div>
  <% } %>
  <form method="POST" action="/signup">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" value="<%= typeof first_name !== 'undefined' ? first_name : '' %>" required />
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" value="<%= typeof last_name !== 'undefined' ? last_name : '' %>" />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/login">Sign in here</a></p>

  <%- include("footer.ejs") %>
</body>
</html>
